h1, h2, p#afterRegisterOrLogin, p#forLogout {
    color: black;
    border:2px solid rgb(5, 85, 93);
    background-color: cadetblue;
     max-width: 400px;       /* Or whatever width matches your form */
    margin: 20px auto;      /* Auto left-right centers it */
    padding: 10px;
    text-align: center;
    border-radius: 10px;    /* Optional: for rounded header box */
    justify-content: center;
    margin-top: 20px;
}

body, html {
    font-family: 'Times New Roman', Times, sans-serif;
    background-image: url('/Image/fernando-hernandez-rLkZVjaqW2o-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgb(5, 85, 93);
    text-align: center;
    height:100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


form{
    background-color:cadetblue;
    align-items: center;
    padding:20px;
    border-radius: 10px;
    max-width: 400px;
    border: 2px solid rgb(5, 86, 93);
    margin:auto;
}

label{
    font-size: large;
    color:black;
    font-weight: bold;
    width: 100px;
}

input[type="button"]:hover{
    background-color: cadetblue;
}

button{
    display: block;
    width:100px;
    margin: 10px auto;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
    color: black;
    border: 2px solid rgb(5, 85, 93);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.taskManager {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.inputAlignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:5px;
    gap:10px

}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Vertically center */
  align-items: center;       /* Horizontally center */
  min-height: 100vh;         /* Ensure full screen height */
  gap: 20px;                 /* Spacing between items */
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* nice spacing between form and paragraph */
}

#afterRegisterOrLogin, #forLogout {
    margin: 0; /* remove weird spacing */
    font-weight: bold;
    color: black;
}
