h1{
    display: flex;
    flex-direction: column;
    color:black;
    margin-bottom: 50px;
    border: 2px solid rgb(5, 86, 93);
    align-items: center;
    background-color:cadetblue;
    justify-content: center;
}

h2{
    display: flex;
    flex-direction: column;
    color:black;
    margin-bottom: 50px;
    border : 2px solid rgb(5, 85, 93);
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, sans-serif;
    background-image: url('/Image/fernando-hernandez-rLkZVjaqW2o-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgb(5, 85, 93);
}

form{
    background-color:cadetblue;
    align-items: center;
    padding:20px;
    border-radius: 10px;
    max-width: 400px;
    border: 2px solid rgb(5, 86, 93);
}

label{
    font-size: large;
    color:black;
    font-weight: bold;
}

p#afterRegisterOrLogin{
    color:black;
    font-size: large;
    border: 2px solid rgb(5, 85, 93);
    background-color: cadetblue;
    font-weight: bold;
}

input[type="button"]:hover{
    background-color: cadetblue;
}

button{
    display: block;
    width:100px;
    margin: 10px auto;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
    color: black;
    border: 2px solid rgb(5, 85, 93);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.taskManager {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.inputAlignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    margin:5px;
    gap:10px

}